html{
    background-color: #f5f5f5;
    border-radius: 0;
}

.sm-article{
    width: 255px;
    height: 400px;
    background-color: #fff;
    box-sizing: border-box;

}

.banner{
    width: 255px;
    height: ;
    margin-bottom: 30px;
}