html, body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 80px 0 0 0;
}

.tag-menu{
    width: 300px;
    background-color: #263238;
    border: 0;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
}

.offcanvas-btn{
    display: block;
    border: 0;
    border-radius: 0;
}

.navbar-toggle{
    border: 0;
    border-radius: 0;
}

.navbar-brand{
    padding: 10px 15px 10px 15px;
}

.nav{
    margin-right: 15px;
}

.form-control, .btn{
    border-radius: 0;
}

.search-btn{
    background-color: #26A69A;
    color: #222;

}

.search-btn:hover{
    background-color: #009688;
    color: #fff;
}

.form-control:focus{
    border-radius: 0;
}

.form-control{
    background-color: #424242;
    border: 0;
    color: #9d9d9d;
}

.main-article {
    margin-bottom: 60px;
}

.main-article img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.wp-caption {
    position: relative;
    padding: 0;
    margin: 0;
}
.wp-caption img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wp-caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
    z-index: 1;
}
.wp-caption-text {
    display: block;
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 4em;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 h1{

 }
.wp-caption-text .article-details, .article-details a{
    color: #fff;
}

.article-thumbnail{

    height: auto;
    background-color: #fff;

    margin-bottom: 30px;

}

.article-thumbnail-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.article-thumbnail-img:hover{

}

h2{
    font-weight: 600;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
    color: #424242;
}

h2:hover{

}

h3{
    margin-top: 0;
    margin-bottom: 15px;
    color: #009688;
}

h3:hover{
    color: #00695C;
}



.main-tag{
    font-size: 14px;
    font-weight: 400;
    background-color: #26A69A;
    margin-right: 15px;

}

.main-tag:hover{
    background-color: #009688;
}

.article-details, .article-details a{

    font-size: 14px;
    color: #757575;

}

.company-name,
.post-date,
.article-comments{
    margin-right: 15px;
}

.post-date{

}


.article-thumbnail-text{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 96px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30px;
    margin-bottom: 30px;
}













.article-thumbnail-divider{
    margin-top: 30px;
    margin-bottom: 60px;
}

.banner{
    width: 165px;
    height: 240px;
    margin-bottom: 30px;
    background-color: #9d9d9d;
    margin-right: 30px;
}

.pagination li a{
    width: 36px;
    height: 36px;
    border: 0;
    font-size: 18px;
    color: #757575;
    font-weight: 600;
}

.pagination li a:hover{
    background-color: #009688;
    border-radius: 100%;
    color: #fff;
}

.footer {
    background-color: #212121;
    height: 60px;
    position: static;
    bottom: 0;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 30px;
}

.social-btn{
    color: #9d9d9d;
    font-size: 24px;
}

.social-btn:hover{
    color: #fff;
}

.pr{
    color: #9d9d9d;
    margin: 0;
}

.pr-link{
    color: #9d9d9d;
}

.pr-link:hover{
    color: #fff;
}